body {
    color:#333;
    min-height:2000px;
}
section {
    margin-bottom:50px;
}
a#hautDePage {
    display:inline-block;
    padding:5px;
    text-decoration:none;
    color:black;
    background-color:#ddd;
    position:fixed;
    right:10px;
    bottom:10px;
}
a#hautDePage.hidden {
    display:none;
}